@font-face {
    font-family: Yanone;
    src: url(./yanone.ttf);
}

body {
    background-color: #f8f8f8;
}

.container-type1 {
    background-image: url("./mint-circles.png");
    background-color: #f8f8f8;
    background-position: 65px;
    height:710px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px;
}

#navbar-main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 25px;
    background:#8bbfb6;
    padding: 20px;
    width: 800px;
}

.navbar-element {
    font-family: Yanone;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}

.navbar-element:hover {
    color: #2e6967;
}

#logo-navbar {
    margin-right: 50px;
    width: 120px;
    height: 40px;
}