@font-face {
    font-family: Yanone;
    src: url(./yanone.ttf);
}

@font-face {
    font-family: Yanone-Thin;
    src: url(./yanone-thin.ttf);
}

@font-face {
    font-family: Droid-Bold;
    src: url(./DroidSerif-Bold.ttf);
}

@font-face {
    font-family: Droid-Reg;
    src: url(./DroidSerif-Regular.ttf);
}

@font-face {
    font-family: Yanone-Reg;
    src: url(./yanone-reg.ttf);
}



body {
    background-color: #f8f8f8;
}

.container-type1 {
    background-image: url("./mint-circles.png");
    background-color: #f8f8f8;
    background-position: 65px;
    height:730px;
}

.container-type2 {
    display: flex;
    background-image: url("./project-bg.png");
    height:730px;
    flex-direction: column;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px;
}

#navbar-main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 25px;
    background:#8bbfb6;
    padding: 20px;
    width: 800px;
}

.navbar-element {
    font-family: Yanone;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}

.navbar-element:hover {
    color: #2e6967;
}

#logo-navbar {
    margin-right: 50px;
    width: 120px;
    height: 40px;
}

#about-me {
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items:center;
}

#adsolis-pic {
    width: 480px;
    height: 500px;
}

.intro-text {
    font-family: Yanone-Thin;
    color: #458c8a;
    font-size: 27px;
    letter-spacing: 3.5px;
}

.intro-name {
    font-family: Droid-Bold;
    color: #458c8a;
    font-size: 80px;
}

#about-text {
    text-align: right;
    line-height: 12px;
}

.home-bottom-text {
    display: flex;
    justify-content: space-around;
}

#scroll-div {
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

#scroll-text {
    font-family: Droid-Reg;
    color: #458c8a;
    font-size: 20px;
}

#scroll-icon {
    width:50px;
    height: 50px;
}

.misc-text {
    opacity: 0.4;
    font-family: Yanone;
    color: #8bbfb6;
    font-size: 28px;
}

.white-header {
    font-family: Droid-Bold;
    color:white;
    font-size: 65px;
    letter-spacing: -3px;
}

#project-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project-box {
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:#f8f8f8;
    width: 420px;
    height: 520px;
    border-radius: 25px;
}

#rbandit {
    height: 55%;
}

.projectbox-header {
    margin-bottom: 0px;
    font-family: Yanone;
    color: #458c8a;
    letter-spacing: 5px;
    font-size: 25px;
}

.project-desc {
    align-self: center;
    width: 75%;
    font-family: Yanone-Reg;
    color: #458c8a;
    font-size: 20px;
}

.tool-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.tool, .project-link-cont {
    border-radius: 25px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: Yanone-Reg;
    font-size: 20px;
}

.tool {
    background-color: #e4f1ef;
    color: #458c8a;
}

.project-link-cont {
    background-color: #458c8a;
}

.project-link {
    color: #e4f1ef;
}

.project-link:hover {
    opacity: 0.5;
}